*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.container{
    background-color: rgb(245, 245, 245);
    width: 325px;
    margin: auto;
    padding: 19px 30px
}
h2 : :hover{
    
}
#heading{
    text-align: center;
}
.custom-input , select{
    background-color: rgb(236 236 236);
    border: 1px solid rgb(230 230 230);
    width: 100%;
    height: 40px;
}
h2{
    margin-top: 20px;
    color: limegreen;
}
p{
    margin: 10px 0px 4px 0px;
}
button{
    width: 322px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    background-color: limegreen;
    color: white;
    border-radius: 7px;
    border: none;
}
.number{
    background-color: limegreen;
    padding: 4px 8px;
    font-size: 19px;
    border-radius: 30px;
    color: white;
    }
    